


.big-container {
    display: table;
    margin: auto;
    max-width: 1500px;
    background-color: #f1f0f0;
    overflow: hidden;
}

.nav {
 
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button.toggle-btn {
    background-color: black;
    float: right;
}

.logo img {
    height: 40px;
}

.navbar-btn {
   width: 50%;
}

nav {
    display: block;
}

nav a:hover {
    background-color: black;
    color: white;
    padding: 7px;
    text-decoration: none;
}
nav a {
    font-weight: 600;
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 17px;
}
.toggle-btn {
    font-size: 20px;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    margin-right: 15px;
}

#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

#sidebar a:hover {
    color: #818181;
}

#sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left 0.5s;
    padding: 16px;
}
.carousel-caption.d-none.d-md-block h2 {
    color: white;
    font-size: 24px;
}
.resume-guide {
    perspective: 1000px;
    position: relative;
}

.resume-guide img,
.resume-guide .back-text {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.resume-guide:hover .resume-step img {
    transform: rotateY(180deg);
}

.back-text {
    width: 100%;
    border: 1px solid #efe7e7;
    padding: 12px;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; /* Set a background color for the back */
    transform: rotateY(180deg);
}
 
.container-fluid.blog {
    padding: 10px;
    background-color: #BFB28A;
}


.container-fluid.industryinsight {
    margin-top: 36px;
}


button.navbar-toggler {
    float: right;
}


.resume-guide img{
    width: 100%;
    border-radius: 8px;

}
.post {
    bottom: 36px;
    position: absolute;
}
.post h2 {
    color: white;
   
}

.resume-build a {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: black;
}

.navigate1 h2 {
    padding: 7px;
    color: white;
    font-size: 16px;
    background-color: green;
    margin-top: 5px;
}
.navigate2 h2 {
    padding: 7px;
    color: white;
    font-size: 16px;
    background-color:  #18184c;
    margin-top: 5px;
}
.navigate3 h2 {
    padding: 7px;
    color: white;
    font-size: 16px;
    background-color: #673AB7;
    margin-top: 5px;
}
.navigate4 h2 {
    padding: 7px;
    color: white;
    font-size: 16px;
    background-color: #2d2c62;
    margin-top: 11px;
    border-radius: 4px;
    margin-top: 5px;
}

.navigate5 h2 {
    padding: 7px;
    color: white;
    font-size: 16px;
    background-color: #FF5722;
    margin-top: 5px;
}
.navigate6 h2 {
    margin-top: 5px;
    padding: 7px;
    color: white;
    font-size: 16px;
    background-color: #0d5def;
}
.navigater-system{
    margin-top: 5px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.fluid-container.boximage {
    margin-top: 60px;
}
.crafting-text a {
    font-family: sans-serif;
    color: black;
    font-weight: 600;
    font-size: 18px;
}
.container-fluid.market {
    margin-top: 46px;
}

.container-fluid.engineering {
    margin-top: 62px;
    background-color: #fff;
    padding: 15px;
}

.crafiting-system-carrier img {
    width: 60%;
}

.container-fluid.blog {
    padding: 10px;
    background-color: #0008ff;
}
.crafiting-system-carrier img {
    width: 50%;
}


.crafting-market1 img {
    width: 100%;
    height: 280px;
}

.crafting-system.carrier1 img {
    width: 40%;
}

.crafiting-system img {
    display: table;
    border-radius: 50%;
    width: 40%;
    margin: auto;
}
.crafting-system.carrier1 {
    display: flex;
    align-items: center;
}
.crafting-text a {
    display: table;
    font-family: sans-serif;
    color: black;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin: auto;
}
.transition img {
    width: 100%;
}
.transition-jobs img {
    width: 100%;
    height: 280px;
        border-radius: 11px;
    }

.navigate2.navigater-jobs {
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.navigate1.navigater-jobs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profesional-remote img {
    width: 100%;
}
.navigate2.navigater-jobs1 {
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.container-fluid.profesional {
    margin-top: 57px;
}
.navigate2.navigater-jobs1 {
    justify-content: space-between;
    display: flex;
}
.resume-build-position {
   
    bottom: 63px;
}
.resume-build-position a {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: black;
}
span.light {
    font-size: 16px;
}
.transition-navigater:hover {
   background-color:rgb(253, 253, 218);
}

.transition-navigater {
    padding: 8px;
    border-radius: 8px;
    border: 4px solid #d7d8d8;
}
.fluid-container.featured {
    background-color: #dbd2d21c;
}
.fluid-container.featured h2 {
    text-align: center;
    margin-bottom: 26px;
}

.post-featured-strategy {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.post-featured-strategy h2 {
    font-size: 17px;
    background-color: green;
    padding: 7px;
    color: white;
}
.post-featured-strategy1 h2 {
    font-size: 17px;
    background-color: orange;
    padding: 7px;
    color: white;
}
.post-featured-strategy1 {
    align-items: center;
    display: flex;
    justify-content: space-between;
   
}
.post-featured-strategy2 {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.post-featured-strategy2 h2 {
    font-size: 17px;
    background-color: blue;
    padding: 7px;
    color: white;
}
.strategy-system img {
    width: 100%;

}
.strategy img {
    width: 100%;
    height: 290px;
}
.demo-strategy1 {
    margin-top: 112px;
}
.demo-strategy2 {
    margin-top: 120px;
}
.demo-strategy3 {
    margin-top:230px;
}
.post-featured-strategy3 {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.post-featured-strategy3 h2 {
    font-size: 17px;
    background-color: green;
    padding: 7px;
    color: white;
}
.container-fluid.jobs {
    margin-top: 41px;
}
.strategy-boximage img {
    margin: 18px;
    width: 100%;
}
.video-resume {
    justify-content: space-between;
    align-items: center;
    display: flex;
}
a.box1 span {
    float: right;
}
a.box2 span {
    float: right;
}
a.box3 span {
    float: right;
}
a.box4 span {
    float: right;
}
ul.list-system li {
    list-style-type: none;
    margin-top: 18px;
}

.border-lenght {
    border-bottom: 1px solid #d5d3d3;
    margin-top: 5px;
}
a.box1 span {
    border-radius: 5px;
    padding: 1px 8px;
    background-color: green;
    color: white;
}
a.box2 span {
    border-radius: 5px;
    padding: 1px 8px;
    background-color: blue;
    color: white;
}
a.box3 span {
    border-radius: 5px;
    padding: 1px 8px;
    background-color: orange;
    color: white;
}
a.box4 span {
    border-radius: 5px;
    padding: 1px 8px;
    background-color: yellow;
    color: white;
}
.part1 img {
    width: 100%;
}
ul.footer-linkss {
    display: flex;
    list-style-type: none;
}
ul.footer-linkss li a {
    padding: 4px 7px;
    margin-left: 7px;
    background-color: #adaaaa;
    color: white;
    font-size: 21px;
    border-radius: 5px;
}
.footer-social {
    margin-top: 10px;
   
}
/* ul.list1 {
    list-style-type: none;
    display: flex;
    margin-top:20px;
} */
ul.list1 li {
    font-size: 18px;
    margin-left: 14px;
}
ul.about-link-icon li {
    font-size: 18px;
    list-style-type: none;
    margin-top: 9px;
}
ul.about-link-icon a {
    font-family: sans-serif;
    color: gray;
    text-decoration: none;
}
ul.about-link-icon a:hover {
    color: black ;
   
}
ul.list1 a {
    color: grey;
    font-family: sans-serif;
}
.links-about h2 {
    font-family: sans-serif;
    color: black;
    margin-bottom: 15px;
    font-size: 21px;
    margin-left: 34px;

}
input[type="text"] {
    margin-left: 28px;
    padding: 6px;
    font-size: 16px;
}
ul.about-link-icon {
    margin-top: 30px;
}
.resume-build-strategy h3 {
    color: gray;
    font-size: 17px;
    font-family: sans-serif;
}
.resume-build-strategy a {
    font-weight: 600;
    font-family: sans-serif;
    font-size: 18px;
    color: black;
}
.demo-link {
    font-size: 22px;
    bottom: 66px;
    position: absolute;
}
.profesional-remote img {
    position: relative;
}
.demo-link a {
    color: black;
}


.links-engineering {
    bottom: 50px;
    position: absolute;
}
.crafting img {
    width: 100%;
    position: relative;
}
.links-engineering a {
    font-weight: 600;
    color: white;
    font-size: 23px;
    font-family: sans-serif;
}
.card1 {
    background-color: #0a94e5e3;
    padding: 8px;
    width: 100%;
    border-radius: 7px;
    border: 2px solid #e9e5e57a;
    height: 418px;
    box-shadow: 0px 0px 6px 0px;
}
.card1:hover {
    background-color: #f3dce0;
}

 nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    position: relative;
    height: 100px;
    margin-bottom: -33px;
    background-color: #2D4B73;
}
 a{
 
    text-decoration: none;
} 
.resume-build.carrier img {
    margin-top: 36px;
    border-radius: 88px;
    width: 100%;
}
.crafting img {
    width: 100%;
    border-radius: 20px;
}
.market-place {
    border-radius: 6px;
    padding: 15px;
    border: 5px solid #e6e5e5;
}
.market-place:hover {
    background-color: skyblue;
}
/* Add this to your existing CSS file or create a new one */

.crafting-market1 img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.5s ease;
}

.crafting-market1:hover img {
    transform: rotateY(180deg);
}
.remote-card {
    border-radius: 6px;
    padding: 15px;

}

.imagination img {
    border-radius: 17px;
    height: 541px;
    width: 100%;
    
}

.boximage-strategy {
    align-items: center;
    display: flex;
}

.strategy-system img {
    width: 60%;
}
.category {
    display: flex;
    align-items: center;
}
.strategy-box {
    width: 50%;
}

ul.list li {
    font-size: 19px;
    list-style-type: none;
}
ul.list-item {
    align-items: center;
    display: flex;
}
ul.list-item li {
    list-style-type: none;
    font-size: 16px;
    margin-top: 17px;
    margin-left: 15px;
    text-align: center;
}

.container-fluid.footer {
    margin-top: 70px;
}



ul.list-item1 {
    list-style-type: none;
    font-size: 17px;
    margin-top: 22px;
    text-align: center;
  
}
.part2 img {
    width: 35%;
}
.make-crafting img {
    border-radius: 31px;
    width: 23%;
}

.big-crafting-box {
    padding: 20px;
    margin-top: 45px;
    text-align: center;
    background: white;
}
.make-crafting a {
    font-weight: 600;
    font-family: sans-serif;
    color: black;
    font-family: sans-serif;
    font-size: 19px;
}
.list-crafting-text h2 {
    text-align: center;
    font-size: 23px;
    padding: 9px;
    width: 29%;
    color: white;
    background-color: #040470;
    border-radius: 6px;
    margin: auto;
    margin-top: 10px;
}
.list-crafting-text h3 {
    margin: auto;
    width: 19%;
    background: #fdde04;
    padding: 10px;
    border-radius: 6px;
    margin-top: 18px;
}
.make-crafting p {
    font-size: 17px;
    color: #565656;
}

ul.list1 li {
    list-style-type: none;
}

ul.list1  {
  display: flex;
}




li.details-m2 a {
    text-decoration: none;
    padding: 11px 22px;
    background: #261466;
    color: white;
}


li.details-m2 {
    margin-top: fon;
    list-style-type: none;
    margin-top: 29px;
}


ul.list-link {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
@media (max-width:600px){

    .links-about h2 {
        margin-left: 0px;
    
    }
    input {
        margin-left: 0px;
    }
    .navbar-btn {
        width: 100%;
    }

    .nav {
        display: initial;
    }

    nav a {
        padding: 15px 0;
        display: block;
    }

    .toggle-btn {
        display: block;
    }

    .navbar-btn {
        flex-direction: column;
        align-items: flex-start;
    }
    .category {
       display: initial;
    }
    .strategy-box {
        width: 100%;
    }
}






   
   

   