

.big-container {
    display: table;
    margin: auto;
    max-width: 1200px;
    overflow: hidden;
}

.nav {
 
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button.toggle-btn {
    background-color: black;
    float: right;
}

.logo img {
    height: 50px;
    width: 100%;
}

.navbar-btn {
   width: 65%;
}

nav {
    display: block;
}

nav a:hover {
    background-color: black;
    color: white;
    padding: 7px;
    text-decoration: none;
}
nav a {
    font-weight: 600;
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 17px;
}
.toggle-btn {
    font-size: 20px;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    margin-right: 15px;
}

#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

#sidebar a:hover {
    color: #818181;
}

#sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left 0.5s;
    padding: 16px;
}

.box-container {
    border-radius: 7px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding: 10px;
}


.box-container-text h2 {
    color: black;
    font-size: 25px;
}

.box-container-text h2 {
    font-family: sans-serif;
    color: black;
    font-size: 30px;
 
    font-weight: 600;
}
.container-resume {
    margin-left: 37px;
    align-items: center;
    display: flex;
}
.container-resume h3 {
    font-size: 18px;
    color: white;
    background-color:#181860;
    ;
    padding: 8px 24px;
}
.container-resume {
    align-items: center;
    display: flex;
}

.container-fluid.industryinsight {
    margin-top: 40px;
}
.carousel {
    overflow: hidden;
    position: relative;
   
}
img.d-block.w-100 {
    width: 26%;
    border-radius: 7px;
    background-color: grey;
    height: auto;
    max-width: 40%;
}
.box-container-text {
    max-width: 40%;
}
.resume-guide img {
    width: 100%;
    border-radius: 7px;
}
.navigate.navigater-system {
    align-items: center;
    display: flex;
    margin-top: 20px;
}
.navigate.navigater-system h2 {
    color: black;
    font-size: 16px;
    font-weight: 600;
}
span.light {
    font-size: 16px;
    margin-left: 9px;
}
.resume-build a {
    font-weight: 600;
    font-size: 18px;
    color: black;
}

.resume-build {
    margin-top: 6px;
}
.crafting-market1 img {
    border-radius: 7px;
    width: 100%;
}

.container-fluid.industryinsight p {
    color: gray;
    font-size: 15px;
    margin-top: 10px;
}
.container-fluid.market {
    margin-top: 36px;
}
.details-div img {
    width: 15%;
    border-radius: 50%;
}
.details-div {
    align-items: center;
    display: flex;
}
.details-div h2 {
    margin-left: 9px;
    font-size: 14px;
}

.transition-jobs img {
    border-radius: 8px;
    width: 100%;
    height: 278px;
}

ul.footer-linkss {
    display: flex;
    list-style-type: none;
}
ul.footer-linkss li a {
    padding: 4px 7px;
    margin-left: 7px;
    background-color: #adaaaa;
    color: white;
    font-size: 21px;
    border-radius: 5px;
}
.footer-social {
    margin-top: 10px;
   
}

ul.footer-linkss {
    display: flex;
    list-style-type: none;
}
ul.footer-linkss li a {
    padding: 4px 7px;
    margin-left: 7px;
    background-color: #adaaaa;
    color: white;
    font-size: 21px;
    border-radius: 5px;
}
.footer-social {
    margin-top: 10px;
   
}
.links-about h2 {
    font-family: sans-serif;
    color: black;
    margin-bottom: 15px;
    font-size: 21px;
    margin-left: 34px;

}
.part2 img {
    width: 60%;
}
ul.list1 li {
    font-size: 18px;
    margin-left: 14px;
}
ul.about-link-icon li {
    font-size: 18px;
    list-style-type: none;
    margin-top: 9px;
}
ul.about-link-icon a {
    font-family: sans-serif;
    color: gray;
    text-decoration: none;
    font-size: 16px;
}
ul.about-link-icon a:hover {
    color: black ;
   
}
ul.list1 a {
    color: grey;
    font-family: sans-serif;
}
.links-about h2 {
    font-family: sans-serif;
    color: black;
    margin-bottom: 15px;
    font-size: 21px;
    margin-left: 34px;

}
input[type="text"] {
    margin-left: 28px;
    padding: 6px;
    font-size: 16px;
}
ul.about-link-icon {
    margin-top: 30px;
}


.strategy-system img {
    width: 35%;
}

ul.list-link {
    align-items: center;
    display: flex;
    list-style-type: none;
    /* margin-top: 21px; */
    flex-wrap: wrap;
}

ul.list-link li a {
    color: white;
    margin-left: 6px;
    padding: 6px 2px;
    font-size: 13px;
    background-color: #5a5a5e;
}
.category {
    align-items: center;
    display: flex;
   
}

.container-fluid.footer {
    margin-top: 54px;
}
.carrier-jobs {
    display: flex;
    align-items: center;
}

.logo-image-carrier img {
    width: 85%;
    border-radius: 10px;
    margin-top: 17px;
}
li.details-m2 {
    margin-top: 23px;
}
.text-box h3 {
    font-weight: 600;
    font-size: 14px;
    color: black;
}
span.bright-text {
    color: #075d9b;
    font-weight: 500;
    font-size: 15px;
}
.text-box a {
    color: black;
    font-weight: 600;
    font-size: 17px;
}
.fluid-container.unlocking {
    margin-top: 50px;
}
.fluid-container.boximage {
    margin-top: 50px;
}
ul.list a {
    color: black;
    font-size: 16px;
}
ul.list li {
    list-style-type: none;
    margin-left: -18px;
}
ul.list li {
    list-style-type: none;
    margin-left: -18px;
    font-family: sans-serif;
    font-weight: 600;
}

.border-lenght {
    border-bottom: 1px solid #d5d2d2;
    margin-top: 6px;
}

.post-featured-strategy {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.post-featured-strategy h2 {
    font-size: 17px;
    background-color: green;
    padding: 7px;
    color: white;
}
.post-featured-strategy1 h2 {
    font-size: 17px;
    background-color: orange;
    padding: 7px;
    color: white;
}
.post-featured-strategy1 {
    align-items: center;
    display: flex;
    justify-content: space-between;
   
}
.post-featured-strategy2 {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.post-featured-strategy2 h2 {
    font-size: 17px;
    background-color: blue;
    padding: 7px;
    color: white;
}
.strategy-system img {
    width: 100%;

}
.strategy img {
    width: 100%;
    height: 290px;
}
.demo-strategy1 {
    margin-top: 112px;
}
.demo-strategy2 {
    margin-top: 120px;
}
.demo-strategy3 {
    margin-top:230px;
}
.post-featured-strategy3 {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.post-featured-strategy3 h2 {
    font-size: 17px;
    background-color: green;
    padding: 7px;
    color: white;
}
.container-fluid.jobs {
    margin-top: 41px;
}
.strategy-boximage img {
    margin: 18px;
    width: 100%;
}

a.box1 span {
    border-radius: 5px;
    padding: 1px 8px;
    background-color: green;
    color: white;
}
a.box2 span {
    border-radius: 5px;
    padding: 1px 8px;
    background-color: blue;
    color: white;
}
a.box3 span {
    border-radius: 5px;
    padding: 1px 8px;
    background-color: orange;
    color: white;
}
a.box4 span {
    border-radius: 5px;
    padding: 1px 8px;
    background-color: yellow;
    color: white;
}

a.box1 span {
    float: right;
}
a.box2 span {
    float: right;
}
a.box3 span {
    float: right;
}
a.box4 span {
    float: right;
}
ul.list-system li {
    list-style-type: none;
    margin-top: 18px;
}
.strategy-system img {
    width: 40%;
}

.strategy-box h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

.crafting img {
    width: 100%;
}
.container-fluid.engineering {
    margin-top: 51px;
}
.big-crafting-box {
    margin-top: 90px;
    text-align: center;
}
.list-crafting-text {
    align-items: center;
    display: flex;
}

.list-crafting-text h2 {
    border-radius: 5px;
    padding: 9px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    background-color: #1f1f74;
}
.make-crafting a {
    font-weight: 600;
    color: black;
    font-size: 24px;
}
.make-crafting p {
    font-size: 18px;
}
.list-crafting-text {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.links-engineering {
    position: absolute;
    bottom: 30px;
}
.links-engineering a {
    font-size: 24px;
    color: white;
}
.text-head h2 {
    font-weight: 600;
    font-family: sans-serif;
    font-size: 32px;
    margin-top: 39px;
    text-align: center;
}
.job-text-btn {
    justify-content: space-between;
    display: flex;
}
.text-box h3 {
    padding: 6px;
    background-color: #b8bdb8;
    font-weight: 600;
    font-size: 14px;
    color: black;
}

.transition-navigater {
    position: relative;
}

.transition-navigater:hover .transition-jobs img {

    transition: opacity 0.3s ease-in-out;
}

.transition-navigater:hover .navigate,
.transition-navigater:hover .resume-build {
    transform: translateY(-10px);
    transition: transform 0.3s ease-in-out;
}
ul.list1 li {
    list-style-type: none;
}













@media (max-width: 600px) {
    button.toggle-btn {
        margin-top: -43px;
    }
    .logo {
        margin-right: 148px;
    }
    span.carousel-control-next-icon{
        margin-top: -180px; 
    }
    span.carousel-control-prev-icon {
        margin-top: -180px;
    }
    .box-container-text {
        max-width: 100%;
    }
img.d-block.w-100 {
    max-width: 100%;
}
    .box-container {
        display: initial;
    }
    .navbar-btn {
        width: 100%;
    }

    nav a {
        padding: 15px 0;
        display: block;
        
    }

    .category {
        display: initial;
        
    }

    .strategy-box {
        width: 100%;
        
    }

    .resume-guide img {
        margin-top: 10px;
       
    }

    .list-crafting-text h2,
    .list-crafting-text h3 {
        width: 100%;
      
    }
    .box-container-text h2 {
        margin-left: 0px;
       
    }
    .container-resume {
        margin-left: 0px;
    }
    .details-div h2 {
        margin-left: 0px;
        
    }
    .category {
        display: initial;
    }
}







   
   

   



   
   

   